<!DOCTYPE html>
<html>

<head th:replace="~{layout/head :: common_header(~{::title},~{::link})}">
    <title>채팅 </title>
    <link rel="stylesheet" th:href="@{/css/chat.css}">
</head>
<body>

<div th:replace="~{fragment/nav :: useNav}">insert</div>

<!--전체 채팅-->
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/image/study_computer.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">백엔드 개발</h5>
                    <p class="card-text">책 추천, 인강 추천 등 <br> 다양한 주제에 대한 정보를 나누세요.</p>
                    <a href="/chat/room?1" class="btn btn-primary">채팅</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/image/study_computer.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">프론트 개발</h5>
                    <p class="card-text">책 추천, 인강 추천 등 <br> 다양한 주제에 대한 정보를 나누세요.</p>
                    <a href="/chat/room?2" class="btn btn-primary">채팅</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/image/study_computer.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/image/study_computer.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>