<!DOCTYPE html>
<html>

<head th:replace="~{layout/head :: common_header(~{::title},~{::link})}">
    <title>채팅 </title>
    <link rel="stylesheet" th:href="@{/css/chatRoom.css}">
</head>
<body>

<div th:replace="~{fragment/nav :: useNav2}">insert</div>

<div id="chat-page" >
    <div class="chat-container">
        <div class="chat-header">
            <h2>채팅 기능</h2>
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/chatRoom.js"></script>
</body>
</html>