<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head th:replace="~{layout/head :: common_header(~{::title},~{::link})}">
    <title>채팅 </title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>
<div class="app-container">

    <div th:replace="~{fragment/nav :: useNav2}">insert</div>

    <div class="app-content">
        <div class="app-sidebar">
            <a href="" class="app-sidebar-link active">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-home">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
                    <polyline points="9 22 9 12 15 12 15 22"/>
                </svg>
            </a>
            <a href="" class="app-sidebar-link">
                <svg class="link-icon feather feather-pie-chart" xmlns="http://www.w3.org/2000/svg" width="24"
                     height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                     stroke-width="2" viewBox="0 0 24 24">
                    <defs/>
                    <path d="M21.21 15.89A10 10 0 118 2.83M22 12A10 10 0 0012 2v10z"/>
                </svg>
            </a>
            <a href="" class="app-sidebar-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-calendar">
                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
                    <line x1="16" y1="2" x2="16" y2="6"/>
                    <line x1="8" y1="2" x2="8" y2="6"/>
                    <line x1="3" y1="10" x2="21" y2="10"/>
                </svg>
            </a>
            <a href="" class="app-sidebar-link">
                <svg class="link-icon feather feather-settings" xmlns="http://www.w3.org/2000/svg" width="24"
                     height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                     stroke-width="2" viewBox="0 0 24 24">
                    <defs/>
                    <circle cx="12" cy="12" r="3"/>
                    <path d="M19.4 15a1.65 1.65 0 00.33 1.82l.06.06a2 2 0 010 2.83 2 2 0 01-2.83 0l-.06-.06a1.65 1.65 0 00-1.82-.33 1.65 1.65 0 00-1 1.51V21a2 2 0 01-2 2 2 2 0 01-2-2v-.09A1.65 1.65 0 009 19.4a1.65 1.65 0 00-1.82.33l-.06.06a2 2 0 01-2.83 0 2 2 0 010-2.83l.06-.06a1.65 1.65 0 00.33-1.82 1.65 1.65 0 00-1.51-1H3a2 2 0 01-2-2 2 2 0 012-2h.09A1.65 1.65 0 004.6 9a1.65 1.65 0 00-.33-1.82l-.06-.06a2 2 0 010-2.83 2 2 0 012.83 0l.06.06a1.65 1.65 0 001.82.33H9a1.65 1.65 0 001-1.51V3a2 2 0 012-2 2 2 0 012 2v.09a1.65 1.65 0 001 1.51 1.65 1.65 0 001.82-.33l.06-.06a2 2 0 012.83 0 2 2 0 010 2.83l-.06.06a1.65 1.65 0 00-.33 1.82V9a1.65 1.65 0 001.51 1H21a2 2 0 012 2 2 2 0 01-2 2h-.09a1.65 1.65 0 00-1.51 1z"/>
                </svg>
            </a>
        </div>

        <!--  project 세션  -->
        <div class="projects-section">

            <div class="projects-section-header">
                <p>Projects
                    <button class="btn btn-light" onclick="create_chat()">+</button>
                </p>

                <!--                <p class="time">December, 12</p>-->
            </div>

            <!-- 두 번째 아이콘 2개  -->
            <div class="projects-section-line">
                <div class="projects-status">
                    <div th:replace="~{fragment/nav :: useNavChat}">insert</div>

                    <!--                    <div class="item-status">-->
                    <!--                        <span class="status-number">45</span>-->
                    <!--                        <span class="status-type">In Progress</span>-->
                    <!--                    </div>-->
                    <!--                    <div class="item-status">-->
                    <!--                        <span class="status-number">24</span>-->
                    <!--                        <span class="status-type">Upcoming</span>-->
                    <!--                    </div>-->
                    <!--                    <div class="item-status">-->
                    <!--                        <span class="status-number">62</span>-->
                    <!--                        <span class="status-type">Total Projects</span>-->
                    <!--                    </div>-->
                </div>
                <div class="view-actions">
                    <button class="view-btn list-view" title="List View">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-list">
                            <line x1="8" y1="6" x2="21" y2="6"/>
                            <line x1="8" y1="12" x2="21" y2="12"/>
                            <line x1="8" y1="18" x2="21" y2="18"/>
                            <line x1="3" y1="6" x2="3.01" y2="6"/>
                            <line x1="3" y1="12" x2="3.01" y2="12"/>
                            <line x1="3" y1="18" x2="3.01" y2="18"/>
                        </svg>
                    </button>
                    <button class="view-btn grid-view active" title="Grid View">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-grid">
                            <rect x="3" y="3" width="7" height="7"/>
                            <rect x="14" y="3" width="7" height="7"/>
                            <rect x="14" y="14" width="7" height="7"/>
                            <rect x="3" y="14" width="7" height="7"/>
                        </svg>
                    </button>
                </div>
            </div>


            <div class="project-boxes jsGridView">
                <div class="project-box-wrapper" th:each="chatRoom : ${chatRooms}">
                    <div class="project-box" style="background-color: #fee4cb;">
                        <div class="project-box-header">
                            <span></span>

                        </div>
                        <div class="card-body">
                            <h5 th:text="${chatRoom.title}">백엔드 개발</h5>
                            <p th:text="${chatRoom.content}">책 추천, 인강 추천 등</p>
                            <form method="post">
                                <input type="hidden" name="id" th:value="${chatRoom.id}"><br>

                                <input class="btn btn-primary submit" type="submit" value="확인"
                                       formaction="/chat/room/invite/accept">
                                <input class="btn btn-primary submit" type="submit" value="거절"
                                       formaction="/chat/room/invite/decline">

                            </form>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div><!-- 프로젝션 끝나는 곳-->


    <!-- 채팅 -->
    <div class="messages-section">
        <button class="messages-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-x-circle">
                <circle cx="12" cy="12" r="10"/>
                <line x1="15" y1="9" x2="9" y2="15"/>
                <line x1="9" y1="9" x2="15" y2="15"/>
            </svg>
        </button>
        <div class="projects-section-header">
            <p>Client Messages</p>
        </div>

        <!-- 채팅 내용 시작 -->
        <div class="messages" id="chat-container" style="height: 650px; overflow-y: scroll;">
            <div class="message-box">
                <div class="message-content">
                    <div class="message-header">
                        <div class="name">Stephanie</div>
                    </div>
                    <p class="message-line">
                        I got your first assignment. It was quite good. 🥳 We can continue with the next assignment.
                    </p>
                </div>

            </div>
        </div>
        <!-- 채팅 내용 끝 -->


        <!-- 전송 버튼 -->
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off"
                           class="form-control"/>
                    <button type="submit" class="btn btn-light">Send</button>
                </div>
            </div>
        </form>

    </div>
</div>
</div>

<!-- 디자인 js 파일 -->
<script src="/js/chat.js"></script>

<!-- 채팅방 생성 자바 스크립트 -->
<script>
    function create_chat() {
        $.ajax({
            method: 'POST',
            url: '/chat/personal/room',
            contentType: "application/json",
            dataType: "text",
            success: function (data) {
                document.location.reload();
            },
            error: function (xhr, status, error) {
                // 에러 시 처리할 코드
                console.error(error);
            }
        });
    }
</script>

<!-- 채팅 관련 자바 스크립트-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const url = urlParams.get("url");

    var stompClient = null;

    var messageForm = document.querySelector('#messageForm');
    var messageInput = document.querySelector('#message');

    window.onload = function connect() {
        var socket = new SockJS('/swithme');
        stompClient = Stomp.over(socket);

        stompClient.connect({}, onConnected, onError);
    }

    function onConnected() {
        // Subscribe to the Public Topic
        stompClient.subscribe(`/topic/public/${url}`, onMessageReceived);
    };


    function sendMessage(event) {
        if (stompClient) {
            var chatMessage = {
                sender: "kim",
                content: messageInput.value
            };
            stompClient.send(`/app/chat.sendMessage/${url}`, {}, JSON.stringify(chatMessage));
        }
        event.preventDefault();
    }

    messageForm.addEventListener('submit', sendMessage, true)

    function onError(error) {

    }

    function onMessageReceived(payload) {
        var message = JSON.parse(payload.body);
        var sender = message.sender;
        var content = message.content;

        // 새로운 메시지를 생성하고 내용을 설정합니다.
        var newMessage = document.createElement("div");
        newMessage.className = "message-box";

        var messageContent = document.createElement("div");
        messageContent.className = "message-content";

        var messageHeader = document.createElement("div");
        messageHeader.className = "message-header";

        var name = document.createElement("div");
        name.className = "name";
        name.textContent = sender;
        messageHeader.appendChild(name);

        var messageLine = document.createElement("p");
        messageLine.className = "message-line";
        messageLine.textContent = content;

        messageContent.appendChild(messageHeader);
        messageContent.appendChild(messageLine);
        newMessage.appendChild(messageContent);

        // 기존의 메시지 컨테이너에 새로운 메시지를 추가합니다.
        var messagesContainer = document.querySelector(".messages");
        messagesContainer.appendChild(newMessage);

        const chatContainer = document.getElementById('chat-container');
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }
</script>

<!-- 멤버 삭제 -->
<script>
    function deleteMember(id) {
        let data = {'id': id};

        $.ajax({
            method: 'Delete',
            url: '/chat/room/member',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                window.location.reload();
            },
            error: function (xhr, status, error) {
                // 에러 시 처리할 코드
                console.error(error);
            }
        });
    }

    function deleteChatRoom(id) {
        let data = {'id': id};

        $.ajax({
            method: 'Delete',
            url: '/chat/chatroom',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                window.location.reload();
            },
            error: function (xhr, status, error) {
                // 에러 시 처리할 코드
                console.error(error);
            }
        });
    }
</script>

</body>
</html>