<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Study</title>
</head>
<body>
<h1>Edit Study</h1>
<form th:object="${study}" th:action="@{/studies/update}" method="post">
  <input type="hidden" th:field="*{id}">
  <label for="name">Study Name:</label>
  <input type="text" id="name" name="name" th:field="*{name}" required><br>

  <label for="startTime">Start Time:</label>
  <input type="datetime-local" id="startTime" name="startTime" th:field="*{startTime}" required><br>

  <label for="endTime">End Time:</label>
  <input type="datetime-local" id="endTime" name="endTime" th:field="*{endTime}" required><br>

  <button type="submit">Update</button>
</form>
</body>
</html>
