<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<div th:fragment="useNav">
    <div class="header-SWM">
        <h2><a th:href="@{/}">StudyWithMe</a></h2>

        <div class="nav-SWM">
            <ul>
                <!--        <li><a href="#" th:if="${nickName}"><p> <span th:text="${nickName}"></span>님의 접속을 환영합니다.</p></a></li>-->
                <li><a th:href="@{/chat/category}" sec:authorize="isAuthenticated()">채팅</a></li>
                <li><a th:href="@{/users/myPage}" sec:authorize="isAuthenticated()">마이페이지</a></li>
                <li><a th:href="@{/users/logout}" sec:authorize="isAuthenticated()">로그아웃</a></li>

                <li><a th:href="@{/users/login}" sec:authorize="!isAuthenticated()">로그인</a></li>
                <li><a th:href="@{/users/signup}" sec:authorize="!isAuthenticated()">회원가입</a></li>
            </ul>
        </div>
    </div>
</div>

<!--<div class = nav2 th:fragment="useNavChat">-->
<!--    <h4>-->
<!--    <a th:href="@{/chat/category}"><span>전체</span></a>-->
<!--    <span>|</span>-->
<!--    <a th:href="@{/chat/personal}"><span>그룹</span></a>-->
<!--    </h4>-->
<!--</div>-->

<!-- 네비게이션 바 -->
<nav th:fragment="useNavChat" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
<!--        <a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/chat/category}">전체</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/chat/personal}">그룹</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/chat/alert}">초대</a>
                </li>
            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>

        </div>
    </div>
</nav>


</body>
</html>