<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/head :: common_header(~{::title},~{::link})}">
  <title>회원가입</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="container-SWM">
  <div th:replace="~{fragment/nav :: useNav}">insert</div>
  <div class="main">
    <h3>회원정보 수정</h3>

    <form action="/api/users/Oauth2myPage" method="post" th:object="${userUpdateRequestDto}">

      <label for="username">아이디</label><br>
      <input type="text" id="username"  name="username" th:field= "*{username}" readonly><br>
      <p th th:errors="*{username}"></p>

      <label for="nickName">닉네임</label><br>
      <input type="text" id="nickName" name="nickname" th:field = "*{nickname}" ><br>
      <p th th:errors="*{nickname}"></p>


<!--      <label for="email">이메일</label><br>-->
<!--      <input type="email" id="email" name="email" th:field = "*{email}"><br>-->
<!--      <p th th:errors="*{email}"></p><br>-->

      <input class="btn btn-primary submit" type="submit" value="확인">
    </form>
    <br>
  </div>
</div>
</body>
</html>