<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/head :: common_header(~{::title},~{::link})}">
  <title>회원가입</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="container-eagle">
  <div th:replace="~{fragment/nav :: useNav}">insert</div>
  <div class="main">
    <h3>비밀번호 변경</h3><br>

    <form action="/api/users/updatePassword" method="post" th:object="${passwordRequestDto}">

      <label for="password">현재 비밀번호</label><br>
      <input type="password" id="password" name="password" th:field = "*{password}" ><br>
      <p th th:errors="*{password}"></p>

      <label for="newPassword">신규 비밀번호</label><br>
      <input type="password" id="newPassword" name="newPassword" th:field = "*{newPassword}" ><br>
      <p th th:errors="*{newPassword}"></p>

      <label for="checkPassword">신규 비밀번호 재입력</label><br>
      <input type="password" id="checkPassword" name="checkPassword" th:field = "*{checkPassword}" ><br>
      <p th th:errors="*{checkPassword}"></p><br>

      <input class="btn btn-primary submit" type="submit" value="확인">

    </form>

  </div>
</div>
</body>
</html>


